<div class="container">
    <div class="box">
        <h1>Post Layout</h1>
        <div class="primary">{{{title}}}</div>
        <div class="content">{{{content}}}</div>
        <div class="secondary">Category Id: {{{category_id}}}</div>
        <div class="secondary">Post with id: {{{id}}}</div>
        <div class="secondary">Created At: {{{createdAt}}}</div>
        <div class="secondary">Updated At: {{{updatedAt}}}</div>
    </div>
</div>
